{
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": [1, 4],
    "space-before-function-paren": [0]
  },
  "plugins": [
    "react", "standard"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      moduleDirectory: ["node_modules", "src"]
    }
  }
}
